/* main: ../master.scss */
/*
* Forms
*
* This file is to be used for all styling specific
* to site's forms. This includes any overwrites of
* third party forms such as shopity forms, marketo, etc.
*/

/*************************************
Inputs
**************************************/



/*************************************
Gravity Forms
**************************************/

body.page .gform_wrapper {
	.gform_fields {
		margin-left: 0;
		padding-left: 0;
		> li {
			+ li {
				margin-top: 2rem !important;
			}
			> label {
				font-weight: 700;
				font-family: $font-primary;
				font-size: 1.25rem;
			}
			div label {
				font-family: $font-primary;
				font-size: 1rem;
				font-weight: 500;
				&.gfield_consent_label {
					font-size: 1.125rem;
					padding-left: 2rem;
				}
			}
			.ginput_complex {
				input {
					margin-bottom: 0;
				}
			}
		}
	}
	.gform_validation_container {
		display: none;
	}
	li {
		list-style: none;
	}
	.gfield_radio {
		li {
			display: inline-block;
			margin-left: 0;
			+ li {
				margin-left: .5rem;
			}
		}
		input {
			display: none;
		}
		label {
			transition: $transition;
			padding: .25rem 1.25rem;
			padding-left: 1.25rem !important;
			background: $color-tag-primary;
			color: $white;
			font-family: $font-primary;
			font-size: 1rem;
			text-align: center;
			opacity: .4;
			border-radius: 2px;
			font-weight: 700 !important;
			cursor: pointer;
			&::before {
				display: none !important;
			}
		}
		input:checked + label {
			background: $color-tag-primary;
			color: $white;
			opacity: 1;
		}
	}
	.gfield_description {
		font-family: $font-primary;
	}
}
