/* main: ../master.scss */
/*
* Header
*
* This file is to be used for all styling specific
* to site's header. This includes the menu and
* navigation
*
*/
#site-header {
    position: fixed;
    width: 100%;
    .header__inner {
        padding-top: .5rem;
        padding-bottom: .5rem;
        @include media-min($medium) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}
header.page-header.entry-header.m-auto.px,
#site-header .header__extras {
    display: none;
}

.align-items-center > div {
	align-items: center !important;
}

span.rise-up-logo {
    background: #ff4e50;
    padding: 0 0.5rem;
    transform: skewY(-10deg) translateY(50%);
    display: inline-block;
    color: white;
    position: absolute;
    top: -100%;
    font-size: 50px;
	line-height: 1.2;
    font-family: Roboto, sans-serif;
    font-weight: bold;
	text-transform: uppercase;
}

.header__navigation {
    a {
        transition: $transition !important;
        @include media-min(960px) {
            font-weight: bold !important;
            font-size: 16px !important;
            &:hover {
                text-decoration: none !important;
                color: $color-tag-primary;
                border-color: transparent;
            }
        }
    }
    .menu-cta {
        text-transform: uppercase;
        a {
            color: $color-tag-primary;
            &:hover {
                color: darken($color-tag-primary, 10);
            }
        }

    }
    .menu-is-open & {
        a {
            @include media-max($large) {
                font-size: 1.5rem !important;
            }
        }
    }
}
