/* main: ../master.scss */
/*
* Templates
*
* This file is to be used for all styling specific
* to site's templates. This may include single post
* types as well as archive pages.
*
*/
.wp-block-cover {
    &.is-style-bottom-wave {
        figure {
            display: inline-block;
        }
        img {
            mask-image: none !important;
            -webkit-mask-image: none !important;
        }
    }
}
.content-area {
    &::first-child {
        padding-top: 200px;
    }
}

.wp-block-cover.is-style-bottom-wave {
	mask-image: none !important;
	-webkit-mask-image: none !important;
	background-color: $white !important;
	&::before {
		opacity: 1 !important;
		background-image: url('../../images/banner-bg.svg');
		background-color: transparent !important;
		height: 90%;
	    background-size: auto 100%;
	    background-repeat: no-repeat;
	    background-position: bottom center;
	    top: auto !important;
	}
    p.hero-text + * {
        margin-top: .875rem;
    }
    * + [class*=button] {
        margin-top: 1.875rem;
    }
    figure {
        transition: all 1.25s ease-out 1s;
        opacity: 0;
        transform: translate3d(0,40px,0);
    }
    &.animated {
        figure {
            opacity: 1;
            transform: translate3d(0,0,0);
        }
    }
    + figure {
        margin-top: 0 !important;
    }
}

.workshop-title {
    background: $color-secondary;
    padding-top: 4rem;
    padding-bottom: 3.25rem;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100vw;
        left: 50%;
        transform: translate3d(-50vw,0,0);
        background: inherit;
        top: 0;
    }
    + .wp-block-coblocks-features {
        position: relative;
        &::before {
            content: '';
            display: block;
            background: $color-secondary;
            position: absolute;
            height: 80%;
            width: 100vw;
            left: 50%;
            transform: translate3d(-50vw,0,0);
            top: 0;
        }
        .wp-block-coblocks-feature {
            background: $white;
            border: 1px solid $color-border;
            padding: 2rem 2rem;
        }
    }
}

.wp-block-coblocks-row.tag-cta {
    max-width: 1240px;
    margin: 0 auto;
    width: 85vw;
    position: relative;
    left: calc(50% - 42.5vw);
    .wp-block-coblocks-row__inner {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}


.tag-gallery .wp-block-coblocks-gallery-offset.alignwide {
    max-width: 1240px !important;
}
