/* main: ../master.scss */
/*
* Templates
*
* This file is to be used for all styling specific
* to site's templates. This may include single post
* types as well as archive pages.
*
*/
.wp-block-cover {
    &.is-style-bottom-wave {
        figure {
            display: inline-block;
        }
        img {
            mask-image: none !important;
            -webkit-mask-image: none !important;
        }
    }
}
.content-area {
    &::first-child {
        padding-top: 200px;
    }
}
